body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: black;
  font-weight: bold;
}

h1, h3, h4 {
  font-family: "Satisfy", cursive;
}

.sidebar {
  background-color: whitesmoke;
  text-align: center;
}

.autumn-img {
  width: 150px;
  height: 200px;
}

.fab, .fas {
  color: black;
}

.social-icons {
  list-style-type: none;
}

.main {
  border-left: 1px solid black;
}

.banner {
  background-image: url("https://i.ibb.co/x6hqxvV/autumn-leaves.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 70%;
  color: white;
  text-align: center;
}

.project {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  width: 49%;
  margin-bottom: .5em;
}

.link-btn {
  float: right;
}

@media (max-width: 375px) {
  .autumn-img {
    width: 50px;
    height: 75px;
  }

  .name, .email {
    display: none;
  }

  .project {
    display: block;
  }

  .card {
    width: 100%;
  }
}
